apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kv-secrets
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    keyvaultName: ${kv_name}
    objects: |
      array:
        - objectName: redis-hostname
          objectType: secret
        - objectName: redis-primary-key
          objectType: secret
    tenantId: ${tenant_id}